<div class="user-design">
<div id="container">
    <h4>{{name}}</h4>
    <p>{{ingredientsList}}</p>
    <p>{{ingredientsFull}}</p>
    <p>{{pasta}}</p>
    <p>{{instructions}}</p>
    <p>{{time}}</p>
    <p>{{image}}</p>
    <a href="/auth/user-recipe/{{recipe._id}}/delete">Delete the recipe</a>
</div>
</div>